<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - DEIPESA</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar" style="background-color: #042029">

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars text-white"></i></button>

        <span class="navbar-brand mx-auto text-white animate__animated animate__bounceIn" style="font-size: 24px;">Sistema de almacenamiento y venta de materiales</span>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw text-white"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Mi cuenta</a></li>
                    <li><a class="dropdown-item" href="#!">Configuraciones</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Cerrar sesion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu"  style="background-color: #042029">
                    <div class="row" style="text-align: center;">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Content/image/logo3.png" alt="fondo" style="max-width: 150px; max-height: 150px;" />
                        </a>
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Home</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-house"></i></div>
                            Inicio
                        </a>
                        <div class="sb-sidenav-menu-heading">Administración</div>
                        <a class="nav-link" href="@Url.Action("Usuarios","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Usuarios
                        </a>
                        <a class="nav-link" href="@Url.Action("Materiales","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-toolbox"></i></div>
                            Materiales
                        </a>
                        <a class="nav-link" href="@Url.Action("Categorias","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                            Categorías
                        </a>
                        <a class="nav-link" href="@Url.Action("Inventario","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
                            Inventario
                        </a>
                        <div class="sb-sidenav-menu-heading">Procesos</div>
                        <a class="nav-link" href="@Url.Action("Ventas","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-hand-holding-dollar"></i></div>
                            Ventas
                        </a>
                        <a class="nav-link" href="@Url.Action("Compras","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-cart-shopping"></i></div>
                            Compras
                        </a>
                        <a class="nav-link" href="@Url.Action("Reportes","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                            Reportes
                        </a>
                    </div>
                </div>
</nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; DEIPESA 2024</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/complementos")
    @RenderSection("scripts", required: false)
</body>
</html>

@*<li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@